.button-margin {
  margin: 20px 0px;
}

.global-border {
  margin: auto;
  max-width: 680px;
}

.generic-header {
  font-size: 25px;
  font-weight: 600;
}

.generic-item {
  margin-top: 10px;
}

.create-post-component {
  margin-top: 30px;
}

.item-margin {
  margin: 20px 0px
}

.username-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-image {
  max-width: 600px;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.icon-button {
  display: flex;
  flex-direction: row;
}